fastapi>=0.75.0
fastapi-utils>=0.1.0
loguru>=0.6.0
uvicorn>=0.15.0
celery>=5.2.6
pydantic>=1.8.2
redis>=3.3.10
docker>=5.0.3
pytest>=7.1.2
flower>=0.9.2
black>=19.10b0
mypy>=0.782
eventlet>=0.33.1
sentry-sdk>=1.6.0